{% extends "main.html" %}
{% load static %}
{% block content %}
<!-- PRODUTOS -->
<div id="produtos" class="col-sm-11 container" style="height:700px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="d-flex flex-row">

            <a data-toggle="modal" data-target="#modal-adicionar-produto">
                <div class="p-2 btn btn-outline-secondary font-weight-bold" style="width:170px;">
                    <img src="{% static 'wspdv/img/icons/adicionar.png' %}" alt="" style="width:30px;">
                    ADICIONAR
                </div>
            </a>
            <a data-toggle="tab" href="#menu2">
                <div class="p-2 btn btn-outline-secondary font-weight-bold" style="width:170px;">
                    <img src="{% static 'wspdv/img/icons/editar.png' %}" alt="" style="width:30px;">
                    EDITAR
                </div>
            </a>
            <div class="p-2 btn btn-outline-secondary font-weight-bold" style="width:170px;">
                <img src="{% static 'wspdv/img/icons/deletar.png' %}" alt="" style="width:30px;">
                REMOVER
            </div>
        </div>
    </nav>
    <div class="col-12 border border-danger" style="min-height:630px">
        <div class="container col-12 border border-secondary" style="height:500px; overflow:auto;">
            <table class="table table-bordered mb-0">
                <tbody>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">OPÇÕES</th>
                            <th scope="col">ID</th>
                            <th scope="col">DESCRICAO</th>
                            <th scope="col">VALOR</th>
                            <th scope="col">CODIGO</th>
                        </tr>
                    </thead>
                    {% for produto in produtos %}
                    <tr>
                        <td style="width:50px;" class="text-center"> <input type="radio" value="" name="check"
                                id="defaultCheck1">
                        </td>
                        <td scope="row" style="width:120px;">{{produto.id}}</td>
                        <td style="width:650px;">{{produto.descricao}}</td>
                        <td style="width:60px;">{{produto.preco |floatformat:2}}</td>
                        <td>{{produto.codigo}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- modal adicionar produto -->
    <div class="modal fade" id="modal-adicionar-produto" tabindex="-1" role="dialog"
        aria-labelledby="modal-adicionar-produto" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ADICIONAR PRODUTO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="background-color: rgb(230, 230, 230);">
                    <!-- form adicionar produto -->
                    <form class="font-weight-bold" method="POST" autocomplete="off"
                        action="{% url 'adicionar_produto' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="codigo">CODIGO</label>
                            <input type="text" class="form-control" id="codigo" name="codigo" required
                                placeholder="CODIGO DO PRODUTO" autofocus>
                        </div>
                        <div class="form-group">
                            <label for="descricao">DESCRIÇÃO</label>
                            <input type="text" class="form-control" id="descricao" name="descricao" required
                                placeholder="NOME DO PRODUTO">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="preco">PREÇO</label>
                                <input type="text" class="form-control" id="preco" name="preco" placeholder="R$: 00.00">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">SALVAR</button>
                    </form>
                    <!-- fim form adicionar produto -->
                </div>
            </div>
        </div>
    </div>
    <!-- fim modal adicionar produto -->
</div>



<!-- END PRODUTOS -->
{% endblock content %}