{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'wspdv/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'wspdv/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'wspdv/css/style.css'%}" />
    <link rel="stylesheet" href="{% static 'wspdv/css/animate.min.css'%}" />
    <link rel="stylesheet" href="{% static 'wspdv/css/hover-min.css'%}" />
    <title>WALTERSILVA5 PDV</title>
</head>

<body id="#body">
    <div class="col-12">
        <div class="row">
            <nav id="sidebar" class="bg-dark" style="width:90px; margin:0;">
                <ul class="nav">
                    <li>
                        <a href="{% url 'vendas' %}">
                            <button class="btn btn-secondary border border-danger col-11 text-center"
                                style="width:100px;">
                                <img class="img-fluid" src="{% static 'wspdv/img/icons/carrinho.png' %}" alt="">
                                <br>
                                <small>VENDAS</small>
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'produtos' %}">
                            <button class="btn btn-secondary border border-danger col-11 text-center"
                                style="width:100px;">
                                <img class="img-fluid " src="{% static 'wspdv/img/icons/produto.png' %}" alt="">
                                <br>
                                <small>PRODUTOS</small></button>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'clientes' %}">
                            <button class="btn btn-secondary border border-danger col-11 text-center"
                                style="width:100px;">
                                <img class="img-fluid" src="{% static 'wspdv/img/icons/cliente.png' %}" alt="">
                                <br>
                                <small>CLIENTES</small>
                            </button>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'caixa' %}">
                            <button class="btn btn-secondary border border-danger col-11 text-center"
                                style="width:100px;">
                                <img class="img-fluid" src="{% static 'wspdv/img/icons/caixa.png' %}" alt="">
                                <br>
                                <small>CAIXA</small>
                            </button>
                        </a>
                    </li>

                </ul>
            </nav>
            {% block content %}

            {% endblock%}
        </div>
    </div>





    <script src="{% static 'wspdv/js/jquery.js'%}"></script>
    <script src="{% static 'wspdv/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'wspdv/js/vue.js'%}"></script>
    <script src="{% static 'wspdv/js/index.js' %}"></script>
</body>

</html>